{% extends "AppBundle::base.html.twig" %}

{% block main %}
    <div class="content clearfix">
        <div class="container">
            <div class="content_title">Portfolio</div>

            <table>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                </tr>
                {% for post in posts.posts %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                    </tr>
                {% endfor %}
            </table>

            {#<div class="row">#}
                {#{% for post in posts.posts %}#}
                    {#<div class="col-xs-12">#}
                        {#<div class="gallery_thumb">#}
                            {#<div class="gallery_thumb_pic">#}
                                {#<a href="{{ path('post', {id: post.id}) }}">#}
                                    {#<img src="{{ post.thumb }}" alt="">#}
                                {#</a>#}
                            {#</div>#}
                            {#<div class="gallery_thumb_title">#}
                                {#<a href="{{ path('post', {id: post.id}) }}">{{ post.title }}</a>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#{% endfor %}#}
            {#</div>#}

            {% include "AppBundle::pagination.html.twig" %}
        </div>
    </div>
{% endblock main %}
